<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Symantic Sandbox</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Jura:100,300,400,500,600,700" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{asset('bundles/customerBundle/css/main.css')}}">

      
  </head>

  <body>
  <div id="desktop">
	
	{# Header starts from here #}

   {{ render(controller('customerBundle:default:header')) }}

    {# Header Ends Here #}

    <hr>
	<div class="ui container">
		<div class="ui stackable two column grid">
		  <div class="four wide column">
		  	<div class="ui styled accordion">
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Category
			  </div>
			  <div class="content">
			  	<div class="transition hidden">
				    <div class="ui list">
				      <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Electronics</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Clothing</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Jewellery</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Books</label>
					  </div>
					</div>  
				</div>		
			  </div>	    
			    
			  
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Brands
			  </div>
			  <div class="content">
			    	<div class="transition hidden">
				    <div class="ui list">
				      <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Electronics</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Clothing</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Jewellery</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Books</label>
					  </div>
					</div>  
				</div>
			  </div>
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Size
			  </div>
			  <div class="content">
			    <div class="transition hidden">
				    <div class="ui list">
				      <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Electronics</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Clothing</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Jewellery</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Books</label>
					  </div>
					</div>  
				</div>
			  </div>
			</div>
			<br><br>
			<div class="ui styled accordion">
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Category
			  </div>
			  <div class="content">
			  	<div class="transition hidden">
				    <div class="ui list">
				      <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Electronics</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Clothing</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Jewellery</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Books</label>
					  </div>
					</div>  
				</div>		
			  </div>	    
			    
			  
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Brands
			  </div>
			  <div class="content">
			    	<div class="transition hidden">
				    <div class="ui list">
				      <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Electronics</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Clothing</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Jewellery</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Books</label>
					  </div>
					</div>  
				</div>
			  </div>
			  <div class="title">
			    <i class="dropdown icon"></i>
			    Size
			  </div>
			  <div class="content">
			    <div class="transition hidden">
				    <div class="ui list">
				      <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Electronics</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Clothing</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Jewellery</label>
					  </div>
					  <div class="ui checkbox item">
						  <input name="example" type="checkbox">
						  <label>Books</label>
					  </div>
					</div>  
				</div>
			  </div>
			</div>
		  </div>
		  <div class="twelve wide column">
		  	<div class="ui three stackable cards">

		  		<div class="card">
				  <div class="image">
				    <img src="images/iphone.jpg">
				  </div>
				  <div class="content">
				    <a class="header">Iphone7</a>
				    <div class="meta">
				      <span class="date">128 GB</span>
				    </div>				    
				  </div>
				  <div class="extra content">
				    <div class="ui two buttons">
				        <div class="ui green button"><i class="shop small icon"></i>Add to cart</div>
				        <div class="ui teal button">Buy Now</div>
			      	</div>
				  </div>
				</div>
				<div class="card">
				  <div class="image">
				    <img src="images/iphone.jpg">
				  </div>
				  <div class="content">
				    <a class="header">Iphone7</a>
				    <div class="meta">
				      <span class="date">128 GB</span>
				    </div>				    
				  </div>
				  <div class="extra content">
				    <div class="ui two buttons">
				        <div class="ui green button"><i class="shop small icon"></i>Add to cart</div>
				        <div class="ui teal button">Buy Now</div>
			      	</div>
				  </div>
				</div>
				<div class="card">
				  <div class="image">
				    <img src="images/iphone.jpg">
				  </div>
				  <div class="content">
				    <a class="header">Iphone7</a>
				    <div class="meta">
				      <span class="date">128 GB</span>
				    </div>				    
				  </div>
				  <div class="extra content">
				    <div class="ui two buttons">
				        <div class="ui green button"><i class="shop large icon"></i>Add to cart</div>
				        <div class="ui teal button">Buy Now</div>
			      	</div>
				  </div>
				</div>
				<!-- first row break -->
				<div class="card">
				  <div class="image">
				    <img src="images/iphone.jpg">
				  </div>
				  <div class="content">
				    <a class="header">Iphone7</a>
				    <div class="meta">
				      <span class="date">128 GB</span>
				    </div>				    
				  </div>
				  <div class="extra content">
				    <div class="ui two buttons">
				        <div class="ui green button"><i class="shop small icon"></i>Add to cart</div>
				        <div class="ui teal button">Buy Now</div>
			      	</div>
				  </div>
				</div>
				<div class="card">
				  <div class="image">
				    <img src="images/iphone.jpg">
				  </div>
				  <div class="content">
				    <a class="header">Iphone7</a>
				    <div class="meta">
				      <span class="date">128 GB</span>
				    </div>				    
				  </div>
				  <div class="extra content">
				    <div class="ui two buttons">
				        <div class="ui green button"><i class="shop small icon"></i>Add to cart</div>
				        <div class="ui teal button">Buy Now</div>
			      	</div>
				  </div>
				</div>
				<div class="card">
				  <div class="image">
				    <img src="images/iphone.jpg">
				  </div>
				  <div class="content">
				    <a class="header">Iphone7</a>
				    <div class="meta">
				      <span class="date">128 GB</span>
				    </div>				    
				  </div>
				  <div class="extra content">
				    <div class="ui two buttons">
				        <div class="ui green button"><i class="shop small icon"></i>Add to cart</div>
				        <div class="ui teal button">Buy Now</div>
			      	</div>
				  </div>
				</div>
			</div>
			<!-- product grid end here -->
			<br><br>
			<div class="pagin">
			
				<div class="ui pagination menu">
			        <a class="icon item">
			          <i class="left chevron icon"></i>
			        </a>
			        <a class="item">1</a>
			        <a class="item">2</a>
			        <a class="item">3</a>
			        <a class="item">4</a>
			        <a class="icon item">
			          <i class="right chevron icon"></i>
			        </a>
		      	</div>
			</div>
		  </div>	
		</div>	
			
		   
			
			
			
		 

	</div>
	<div class="ui container fluid" id="footer">
		<div class="ui stackable three column grid">
			<div class="ui six wide column">
				<div>
					<div class="footer-left">

					<h3>Company<span>logo</span></h3>

					<div class="ui horizontal bulleted list">
					  <a class="item">
					    Home
					  </a>
					  <a class="item">
					    Be a Seller
					  </a>
					  <a class="item">
					    Contact Us
					  </a>
					</div>

					<p class="footer-company-name">Shopping Yug &copy; 2017</p>
				</div>
				</div>	
			</div>
			<div class="ui five wide column">
				<div class="footer-center">

					<div class="ui list">
					  <div class="item">
					    <i class="users icon"></i>
					    <div class="content">
					      Shopping Yug
					    </div>
					  </div>
					  <div class="item">
					    <i class="marker icon"></i>
					    <div class="content">
					      Airoli, Navi Mumbai
					    </div>
					  </div>
					  <div class="item">
					    <i class="mail icon"></i>
					    <div class="content">
					      <a href="mailto:jack@semantic-ui.com">contact@shoppingyug.com</a>
					    </div>
					  </div>
					  <div class="item">
					    <i class="linkify icon"></i>
					    <div class="content">
					      <a href="#">shoppingyug.com</a>
					    </div>
					  </div>
					</div>
				</div>
				
			</div>
			<div class="ui five wide column">
				<div class="footer-right">

					<h3>About the company</h3><br>
					<p>
					We are young company in making to help entreprenuers to list there manufactured product on our site for free.
					</p>
				
				<div class="footer-icons">
					<button class="ui facebook button">
					  <i class="fa fa-facebook fa-lg"></i>
					</button>  
					
					<button class="ui twitter button">
					  <i class="fa fa-twitter fa-lg"></i>
					</button>  
														
					<button class="ui instagram button">
					  <i class="fa fa-instagram fa-lg"></i>
					</button>  
				</div>
			</div>
				

				
				
			</div>
		</div>	
	</div>		
	
		  	
		 
		
  	<!-- Desktop version -->
   
    
    <script src="{{asset('bundles/customerBundle/js/jquery.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="{{asset('bundles/customerBundle/js/main.js')}}"></script>

    
  </body>
</html>  

